# ==============================================================================
# .gitignore
# ==============================================================================


temp


# Sass
# ==============================================================================

.sass-cache


# Bower
# ==============================================================================

public/bower
.bower-cache
.bower-registry
.bower-tmp


# Node
# ==============================================================================

logs
*.log
node_modules
