<section class="todos">

    <div class="todo-edit todo-edit--new">
        <input
            type="text"
            class="input"
            placeholder="Enter todo here then hit enter"
            ng-model="newTodo"
            on-enter="addTodo({{ todos }})"
        >
    </div>

    <ul class="todo-list">
        <li ng-repeat="(todoKey, todo) in todos" drag-to-reorder="todos" ng-class="{_first:$first}">
            <todo class="todo" value="todo"></task>
        </li>
    </ul>

    <p class="todo__help">Double click to edit todo item.</p>

</section>

<!--  ng-dblclick="editTodo(todo)"  -->
