// =============================================================================
// Container
// =============================================================================


.container {
    width: 95%;
    margin: 10% auto;

    @include media(">phone") {
        width: 85%;
    }

    @include media(">tablet") {
        width: 60%;
    }
}
