// =============================================================================
// Draggable
// =============================================================================


.dropping {
    background-color: rgba(#333, .1);

    &-above {
        border-top: 5px solid #333;
    }

    &-below {
        border-bottom: 5px solid #333;
    }
}
