<div ng-hide="todo.edit" class="todo__view" ng-class="{ completed:todo.complete }">
    <input
        id="checkbox-{{ todo.id }}"
        type="checkbox"
        class="checkbox todo__check"
        ng-model="todo.complete"
        ng-class="{ checked:todo.complete }"
        checked="{{ todo.complete }}"
    >
    <label for="checkbox-{{ todo.id }}"></label>
    <span class="todo__task" ng-click="editThis()">
        {{ todo.task }}
    </span>
    <span class="todo__delete" ng-click="$parent.delete($parent.todoKey)">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
    </span>
</div>

<div ng-show="todo.edit" class="todo-edit">
    <input
        type="text"
        value="{{ todo.task }}"
        class="input"
        on-enter="todo.edit = false"
        ng-model="todo.task"
    >
</div>
